<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VueJS Tutorials</title>
    <link href="styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="vue-app">
        <h1>v-for</h1>
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>
        <ul>
            <li v-for="(ninja, index) in ninjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
        </ul>
        <!-- <div v-for="(person, index) in people">
                <h3>{{ index }} . {{ person.name }}</h3>
                <p>Age - {{ person.age }}</p>
            </div> -->
        <template v-for="person in people">
            <div v-for="(val, key) in person">
                <p>{{key}} - {{ val }}</p>
            </div>
            <hr />
        </template>
    </div>
</body>

<script src="app.js"></script>

</html>